html, body {
	margin:			0px;
	padding:		0px;
	font-family:	'Poly', serif;
	color:			#000;
}

html {
	overflow-y:		scroll;
}

body {
	background:		#f7f1e9;
}

img {
	display:	block;
	border:		none;
	margin:		0px;
}

p {
	margin:		0px;
	padding:	4px 0px;
}

p.handwritten {
	font-family:	'jinkyregular', serif;
	font-size:		30px;
	line-height:	30px;
}

p.handwritten.large {
	font-size:		50px;
	line-height:	30px;
}

p.handwritten.title {
	margin:		10px 0px 20px 0px;
}

p.handwritten.signature {
	margin-top:		20px;
}

h1, h2, h3, h4, h5 {
	margin:		0px;
	padding:	0px;
}

h1 {
	margin:		16px 0px 8px 0px;
	font-size:	28px;
}

h2 {
	margin:		12px 0px 6px 0px;
	font-size:	22px;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
	margin-top:	0px;
}

form div {
	margin:	10px 0px 0px 0px;
}

form div:first-child {
	margin:	0px;
}

label, input, textarea {
	display:	block;
}

label {
	font-size:	14px;
	margin:		0px 0px 2px 0px;
}

input.text, textarea {
	padding:		4px;
	border:			solid 1px #c4a27e;
	background:		#ffefee;
	font-family:	Tahoma, Geneva, Verdana, sans-serif;
	font-size:		15px;
}

input.text {
	width:	300px;
}

input.text:focus, textarea:focus {
	border:	solid 1px #a2805c;
}

textarea {
	width:		600px;
	min-width:	600px;
	max-width:	600px;
	height:		200px;
	min-height:	200px;
}

table {
	width:				100%;
	border-collapse:	collapse;
}

th, td {
	padding:	3px 6px;
	border:		solid 1px #c0b1a1;
}

th {
	background:	#e2d3c3;
}

td {
	background:	#ebdccc;
}

#wrap {
	position:	absolute;
	top:		0px;
	left:		50%;
	width:		50%;
	padding:	0px 0px 10px 0px;
	overflow:	visible;
}

#nav-bg {
	position:	absolute;
	width:		100%;
	height:		93px;
	top:		53px;
	left:		0px;
	
	border-top:		solid 1px #666;
	border-bottom:	solid 1px #666;
	
	background:	url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDIyMSwzMiwzOCwxKTsiIC8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDIyMSwxNiwyMSwxKTsiIC8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgZmlsbD0idXJsKCNncmFkaWVudCkiIGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIC8+PC9zdmc+);
	background:	-o-linear-gradient(top, rgba(221,32,38,1), rgba(221,16,21,1));
	background:	-moz-linear-gradient(top, rgba(221,32,38,1), rgba(221,16,21,1));
	background:	-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(221,32,38,1)), color-stop(1, rgba(221,16,21,1)));
	-ms-filter:	"progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFDD2026,EndColorStr=#FFDD1015)";
	filter:		progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFDD2026,EndColorStr=#FFDD1015);
}

#logo {
	position:	absolute;
	width:		229px;
	height:		200px;
	top:		0px;
	left:		-518px;
	margin:		auto;
}

#nav {
	position:	absolute;
	width:		570px;
	height:		93px;
	top:		54px;
	left:		-295px;
}

#nav a, #nav a:link, #nav a:visited {
	display:		block;
	line-height:	93px;
	width:			110px;
	font-size:		19px;
	font-family:	'Britannic Bold';
	
	text-align:			center;
	text-decoration:	none;
	text-shadow:		#822 2px 2px 1px;
	color:				#f4e0c8;
	
	border-left:	solid 1px #a11;
	border-right:	solid 1px #a11;
	
	background:	url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDIzOCw1MSw1MSwxKTsiIC8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDIzOCwzNCwzNCwxKTsiIC8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgZmlsbD0idXJsKCNncmFkaWVudCkiIGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIC8+PC9zdmc+);
	background:	-o-linear-gradient(top, rgba(238,51,51,1), rgba(238,34,34,1));
	background:	-moz-linear-gradient(top, rgba(238,51,51,1), rgba(238,34,34,1));
	background:	-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(238,51,51,1)), color-stop(1, rgba(238,34,34,1)));
	-ms-filter:	"progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFEE3333,EndColorStr=#FFEE2222)";
	filter:		progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFEE3333,EndColorStr=#FFEE2222);
}

#nav a:hover {
	background:	url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDIzOCw1OCw1OCwxKTsiIC8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDIzOCw0Miw0MiwxKTsiIC8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgZmlsbD0idXJsKCNncmFkaWVudCkiIGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIC8+PC9zdmc+);
	background:	-o-linear-gradient(top, rgba(238,58,58,1), rgba(238,42,42,1));
	background:	-moz-linear-gradient(top, rgba(238,58,58,1), rgba(238,42,42,1));
	background:	-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(238,58,58,1)), color-stop(1, rgba(238,42,42,1)));
	-ms-filter:	"progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFEE3A3A,EndColorStr=#FFEE2A2A)";
	filter:		progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFEE3A3A,EndColorStr=#FFEE2A2A);
}

#nav a:active {
	outline:	none;
	
	background:	url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDIzOCw0Nyw0NywxKTsiIC8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDIzOCwzMSwzMSwxKTsiIC8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgZmlsbD0idXJsKCNncmFkaWVudCkiIGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIC8+PC9zdmc+);
	background:	-o-linear-gradient(top, rgba(238,47,47,1), rgba(238,31,31,1));
	background:	-moz-linear-gradient(top, rgba(238,47,47,1), rgba(238,31,31,1));
	background:	-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(238,47,47,1)), color-stop(1, rgba(238,31,31,1)));
	-ms-filter:	"progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFEE2F2F,EndColorStr=#FFEE1F1F)";
	filter:		progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFEE2F2F,EndColorStr=#FFEE1F1F);
}

#nav a {
	float:	left;
	margin:	0px 0px 0px 8px;
}

#social {
	position:	absolute;
	width:		160px;
	height:		40px;
	padding:	4px;
	top:		76px;
	left:		343px;
	
	background:	#922;
	
	box-shadow:			inset 0px 0px 2px 0px #000;
	-moz-box-shadow:	inset 0px 0px 2px 0px #000;
	-webkit-box-shadow:	inset 0px 0px 2px 0px #000;
	
	border-radius:			4px;
	-moz-border-radius:		4px;
	-webkit-border-radius:	4px;
}

#social img {
	float:		left;
	margin:		4px;
	
	opacity:	1.0;
	-ms-filter:	"alpha(opacity=100)";
	filter:		alpha(opacity=100);
}

#social img:hover {
	opacity:	0.9;
	-ms-filter:	"alpha(opacity=90)";
	filter:		alpha(opacity=90);
}

#content {
	position:	relative;
	margin:		0px 0px 210px 0px;
	padding:	10px;
	width:		1000px;
	min-height:	300px;
	top:		200px;
	left:		-511px;
	overflow:	auto;
	border:		solid 1px #d5b38f;
	background:	#f3e4d4;
}

#copy {
	position:	relative;
	width:		800px;
	left:		-400px;
	text-align:	center;
	font-size:	14px;
	color:		#333;
}

#blank {
	display:	none;
	position:	fixed;
	width:		100%;
	height:		100%;
	top:		0px;
	left:		0px;
	background:	#000;
	
	opacity:	0.8;
	-ms-filter:	"alpha(opacity=80)";
	filter:		alpha(opacity=80);
}

#image-box, #loading {
	display:		none;
	position:		fixed;
	max-width:		100%;
	max-height:		100%;
	padding:		20px;
	top:			50%;
	left:			50%;
	background:		#fff;
	
	box-shadow:			0px 0px 10px 0px #000;
	-moz-box-shadow:	0px 0px 10px 0px #000;
	-webkit-box-shadow:	0px 0px 10px 0px #000;
}

#loading {
	width:		66px;
	height:		66px;
	padding:	20px;
	margin:		-53px 0px 0px -53px;
}

#image-box-close {
	position:	absolute;
	top:		-5px;
	right:		-5px;
	cursor:		pointer;
}

div.msg {
	padding:	6px 12px 6px 30px;
	margin:		0px 0px 6px 0px;
}

div.msg:last-child {
	margin:		0px;
}

div.msg.info {
	background:	#edf url('../img/info_ico.png') no-repeat 8px center;
	border:		solid 1px #98f;
}

div.msg.error {
	background:	#fcc url('../img/error_ico.png') no-repeat 8px center;
	border:		solid 1px #f77;
}

div.msg.success {
	background:	#aea url('../img/success_ico.png') no-repeat 8px center;
	border:		solid 1px #6b6;
}

a.button, input.button {
	display:			block;
	float:				left;
	
	margin:				0px 0px 0px 5px;
	padding:			8px 22px;
	border:				solid 1px #b01d0b;
	color:				#f5ede5;
	text-decoration:	none;
	font-size:			15px;
	cursor:				pointer;
	
	border-radius:			3px;
	-moz-border-radius:		3px;
	-webkit-border-radius:	3px;
	
	background:	url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDIyNCwxMTgsMjYsMSk7IiAvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6cmdiYSgxOTIsNjIsMTAsMSk7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);
	background:	-o-linear-gradient(top, rgba(224,118,26,1), rgba(192,62,10,1));
	background:	-moz-linear-gradient(top, rgba(224,118,26,1), rgba(192,62,10,1));
	background:	-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(224,118,26,1)), color-stop(1, rgba(192,62,10,1)));
	-ms-filter:	"progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFE0761A,EndColorStr=#FFC03E0A)";
	filter:		progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFE0761A,EndColorStr=#FFC03E0A);
}

a.button:hover, input.button:hover {
	background:	url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI0MSwxMzUsNDMsMSk7IiAvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6cmdiYSgyMDksNzksMjcsMSk7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);
	background:	-o-linear-gradient(top, rgba(241,135,43,1), rgba(209,79,27,1));
	background:	-moz-linear-gradient(top, rgba(241,135,43,1), rgba(209,79,27,1));
	background:	-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(241,135,43,1)), color-stop(1, rgba(209,79,27,1)));
	-ms-filter:	"progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFF1872B,EndColorStr=#FFD14F1B)";
	filter:		progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFF1872B,EndColorStr=#FFD14F1B);
}

input.button[disabled] {
	background: #888888;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg4ODg4OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NjY2NjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #888888 0%, #666666 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#888888), color-stop(100%,#666666));
	background: -webkit-linear-gradient(top, #888888 0%,#666666 100%);
	background: -o-linear-gradient(top, #888888 0%,#666666 100%);
	background: -ms-linear-gradient(top, #888888 0%,#666666 100%);
	background: linear-gradient(to bottom, #888888 0%,#666666 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888888', endColorstr='#666666',GradientType=0 );
}

a.button:first-child, input.button:first-child {
	margin-left:	0px;
}

#about-image {
	float:		left;
	width:		450px;
	height:		436px;
	background:	url('../img/about.png') no-repeat;
	
	box-shadow:			0px 0px 5px 1px #412405 inset;
	-moz-box-shadow:	0px 0px 5px 1px #412405 inset;
	-webkit-box-shadow:	0px 0px 5px 1px #412405 inset;
	
	border-radius:			5px;
	-moz-border-radius:		5px;
	-webkit-border-radius:	5px;
}

#about-text {
	float:			right;
	width:			535px;
	line-height:	22px;
}

div.shop-items {
	float:		right;
	width:		800px;
	overflow:	auto;
}

div.shop-product {
	float:			left;
	width:			190px;
	margin:			4px;
	padding:		0px;
	overflow:		hidden;
	border:			solid 1px #e6b38f;
	background:		#f5ede5;
	font-family:	'voltaireregular', sans-serif;
}

div.shop-product h3 {
	display:		block;
	width:			180px;
	margin:			3px 5px;
	padding:		0px;
	font-size:		12px;
	font-weight:	550;
	overflow:		hidden;
	white-space:	nowrap;
	text-overflow:	ellipsis;
}

a:link, a:visited {
	color:				#222;
	text-decoration:	none;
}

a:hover {
	color:				#333;
	text-decoration:	underline;
}

a:active {
	color:		#444;
}

div.shop-product img {
	display:	block;
	float:		left;
	border:		solid 1px #e6b38f;
}

div.shop-product div {
	margin:		4px 4px 0px 4px;
	text-align:	right;
}

div.shop-product div:last-child {
	margin:		-3px 5px 5px 0px;
	padding:	0px;
	font-size:	12px;
}

div.shop-product ul {
	margin:		18px 0px;
	padding:	0px;
	list-style:	none;
}

div.shop-product ul li {
	margin:		2px 0px;
}

div.shop-product-images {
	float:		left;
	width:		353px;
	border:		solid 1px #e6b38f;
	background:	#f5ede5;
}

div.shop-product-images a {
	float:		left;
}

div.shop-product-images > a:first-child {
	margin:		5px;
	border:		solid 1px #e6b38f;
	cursor:		-webkit-zoom-in;
	cursor:		-moz-zoom-in;
}

div.shop-product-images div a {
	margin:		0px 0px 5px 5px;
	border:		solid 1px #e6b38f;
}

div.shop-product-details {
	float:		right;
	width:		627px;
	padding:	5px;
	border:		solid 1px #e6b38f;
	background:	#f5ede5;
}

div.shop-product-details div {
	margin:		10px 0px 0px 0px;
}

div.shop-product-details div:first-child {
	margin-top:	0px;
}

div.shop-product-details div {
	overflow:	auto;
}

div.shop-product-details div h2 {
	float:	left;
	width:	420px;
}

div.shop-product-details p {
	margin:		15px 0px 0px 0px;
	padding:	0px;
}

div.shop-product-details p:first-child {
	margin-top:	0px;
}

div.shop-product-details form {
	float:	right;
	width:	200px;
}

div.shop-product-details form select {
	float:		left;
	width:		200px;
	margin:		0px 5px 0px 0px;
	padding:	3px 6px;
	
	box-sizing:			border-box;
	-moz-box-sizing:	border-box;
	-webkit-box-sizing:	border-box;
}

div.shop-product-details form input {
	width:		200px;
	margin:		5px 0px 0px 0px;
	padding:	6px 0px;
}

div.item-shipping-info {
	border-top:	solid 1px #e6b38f;
	padding:	6px 0px 0px 0px;
	color:		#555;
}

div.item-shipping-info img {
	float:	right;
}

div.shop-filter {
	float:		left;
	width:		190px;
	padding:	5px;
	overflow:	auto;
}

div.shop-filter ul {
	margin:		10px 0px 0px 0px;
	padding:	0px;
	list-style:	none;
	overflow:	auto;
}

div.shop-filter ul li {
	margin:	5px 0px 0px 0px;
}

div.shop-filter ul li:first-child {
	margin-top:	0px;
}

div.shop-filter ul li a:link, div.shop-filter ul li a:visited {
	display:			block;
	padding:			0px 6px;
	line-height:		26px;
	border:				solid 1px #e6b38f;
	text-decoration:	none;
	color:				#111;
	background:			#f5ede5;
}

div.shop-filter ul li a:hover, div.shop-filter ul li a.current-page {
	background:		#f1e9e1;
}

div.shop-filter ul li a:active {
	background:		#f0e8e0;
}

div.shop-filter form {
	overflow:	auto;
}

div.shop-filter form input {
	float:	left;
}

div.shop-filter form input.button {
	margin:		0px;
	padding:	3px 4px;
}

div.shop-filter form input.text {
	width:		110px;
	margin:		0px 5px 0px 0px;
	padding:	4px;
	font-size:	14px;
}

ul.admin-navigation {
	display:	block;
	list-style:	none;
	margin:		0px;
	padding:	0px;
	overflow:	auto;
}

ul.admin-navigation li {
	float:		left;
	margin:		0px 0px 0px 10px;
	padding:	0px;
}

ul.admin-navigation li:first-child {
	margin-left:	0px;
}
